DB_URL: jdbc:postgresql://localhost:5432/user_service?useUnicode=yes&characterEncoding=UTF-8
DB_USERNAME: postgres
DB_PASSWORD: admin

server:
  port: 8080
  max-http-request-header-size: 16KB


spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: user-management-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 300000
  jpa:
    open-in-view: false
    database: POSTGRESQL
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        types:
          print:
            banner: false
  flyway:
    table: flyway_schema_history
    baseline-description: "<< Flyway User Baseline >>"
    baseline-version: 1
    baseline-on-migrate: true
    locations: "classpath:db/migration"
    enabled: true

logging:
  level:
    root: INFO

# JWT Configuration
jwt:
  secret: thisIsMysecregtfrdesww233eggtffeeddgkjjhhtdhttebd54ndhdhfhhhshs8877465sbbdd
  expiration: 3600000